<% @completes.each do |completed| %>
	<div class="row" id="<%= dom_id(completed) %>">
		<div class="small-10 column">
			<h6><%= content_tag(:i, completed.name.capitalize, :class=>"fa fa-check-square-o fa-lg") %></h6>
		</div>
		<div class="small-1 column">
			<%= link_to undo_todo_path(completed), method: :put, remote: true  do %>
			<span data-tooltip aria-haspopup="true" class="has-tip" title="Undo">
				<%= content_tag(:i, '', :class => "fa fa-undo fa-lg" ) %>
			</span>
			<% end %>
		</div>
		<div class="small-1 column">
			<%= link_to completed, method: :delete, data: { confirm: "Are you sure?" }, remote: true do %>
				<span data-tooltip aria-haspopup="true" class="has-tip" title="Delete">
					<%= content_tag(:i, '', :class => "fa fa-trash-o fa-lg") %>
				</span>
			<% end %>
		</div>
		<hr />
	</div>
<% end %>