<%= form_for @todo, remote: true do |f| %>
	<div class="row collapse">
		<div class="small-1 column">
			<%= f.label "todo:", :class => "left inline" %>
		</div>
		<div class="small-7 column">
			<%= f.text_field :name, :id => "right-label", autofocus: true %>
		</div>
		<div class="small-2 column">
			<%= f.submit "Save", class: "button postfix" %>
		</div>
		<div class="small-2 column">
			<%= link_to "Close", root_path ,class: "button postfix secondary" %>
		</div>
	</div>
<% end %>