<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "todo-codecademy" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <div id="wrapper" class="row">
      <div class="small-12 small-centered medium-8 medium-centered large-6 large-centered column">
        <% if controller_name == 'todos' %>
          <%= render partial: "layouts/navbar" %>
        <% end %>
        <%= render partial: "layouts/flash" %>
        <div id="content">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render partial: "layouts/footer" %>
    <%= javascript_include_tag "application" %>
  </body>
</html>